/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:rgb(182, 218, 218);
    color: #333;
    margin: 0;
  }
  .body{
    padding: 1rem;
  }
  
  header {
    background: #41a9f3;
    color: darkblue;
    padding: 1rem 0;
  }
  #nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem 0rem 1rem;
  }
  #nav-icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
  }
  #nav-photo{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
  }
  span{
    color: rgb(2, 2, 58);
  }
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem;
  }
  
  header nav ul li a {
    color: rgb(27, 19, 97);
    text-decoration: none;
    font-weight: bold;
  }
  
  header nav ul li a:hover {
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
    /* text-align: center; */
  }
  
  section {
    margin-bottom: 2rem;
    
  }

  #profile-container{
    background-color: rgb(223, 190, 223);
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2%;
  }

  #profile-img img{
    height: 20rem;
    width: 20rem;
    border-radius: 10%;
  }


  #profile-info{

  }

  section h2 {
    color: #333;
    margin-bottom: 1rem;
  }

  /* #about-container{
    background-color: rgb(223, 190, 223);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2%;
    padding: 5rem;

  }
  #about-container h2, #about-container p{
    flex: 1;
    padding: 1rem; 
  } 

  .about h2, .about p{
    flex: 1;
  } */
   #about{
    background-color: rgb(223, 190, 223);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    border-radius: 2%;
    padding: 5rem
   }
  #Education{
    background-color: rgb(223, 190, 223);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2%;
    padding: 5rem;  
  }
   #Relevant_Cources{
    background-color: rgb(223, 190, 223);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2%;
    padding: 5re
   }
   table tr td{
    padding: 1rem;
   }
   #Technical_Skills{
    background-color: rgb(223, 190, 223);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2%;
    padding: 5rem;
   }
   #projects{
    background-color: rgb(223, 190, 223);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2%;
    padding: 5rem;
   }
   #Certification_and_Training{
    background-color: rgb(223, 190, 223);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2%;
    padding: 5rem;
   }
   #Soft_Skills{
    background-color: rgb(223, 190, 223);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2%;
    padding: 5rem;
   }
  #Language {
    background-color: rgb(223, 190, 223);
    display: flex;
    justify-content: space-between;
    border-radius: 2%;
    padding: 5rem;
    align-items: center;
    text-align: center
    }
  #contact{
    background-color: rgb(223, 190, 223);
    border-radius: 2%;
    padding: 5rem;
    align-items: center;
    text-align: center;
  }
  
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  